<div class="oli-form">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div>
    <%= f.email_field  :email, autofocus: true, :class => "submit-field-name-oli", :type => "email", :placeholder => "Email" %></div>

    <div>
      <%= f.password_field :password, autocomplete: "off",  :class => "submit-field-oli",  :type => "password",  :placeholder => "Password" %></div>

      <div class="remember-me-oli">
        <div class="roundedOne">
          <%= f.check_box :remember_me, :class => "roundedOne" %> 
          <label for="user_remember_me" ></label>
        </div>
        Remember me 
        <span class="password-recovery"><%= link_to 'Forgot password?', new_user_password_path %> </span>

      </div>
    <button class="ladda-button submit-button-oli" data-style="zoom-out"><span class="ladda-label"><%= "Sign in" %></span></button>
    <div class="signed-in-oli oli-text oli-small signed-in-oli">Don't have an account? <%= link_to  "Register", new_user_registration_path, :class => "js-switch-to-register" %> </div>
    <div class="status-oli"> <%= flash.now[:notice] %></div>
    <% end %>

    </div> <!-- /oli-form -->
