  {{partial "activities/partials/description"}}
  <div class="oli-text-smaller brainstorm-threads-container">
  
  </div>
  <div class="task-list-container">
    {{#each item in controller.sortedList}}
      {{#view Oli.BrainstormItemView}}

      <div class="task-container">
        <div class="row">
          <div class="col-xs-3">
            {{controller.component1.content.content}}
           </div> {{!-- </col-xs-3>  --}}
          <div class="col-xs-8">
            {{input class="oli-form-field-long no-margin full-width"
            placeholder="Write Task"
            value=item.text}}
          </div>{{!-- </col-xs-8>  --}}
        </div>{{!-- </row>  --}}

        
        <div class="row margin-top">
          <div class="col-xs-3">
            Because I value:
          </div> {{!-- </col-xs-3>  --}}
          <div class="col-xs-8">
            {{view Oli.BrainstormSelectView
            item=item
            multiple="true"    
            class="thread-dropdown"
            contentBinding="threadsList.content"
            optionValuePath="content.value"
            optionLabelPath="content.label"
            }}
 
          </div>{{!-- </col-xs-8>  --}}
        </div>{{!-- </row>  --}}
      </div>{{!-- </task-container>  --}}
      {{/view}}
    {{/each}}
  </div>{{!-- </task-list-container>  --}}

  <div class="add-task-box" {{action "addTask" this on="click"}}>
    Add Task
  </div>
