{{partial "activities/partials/description"}}
<div class="oli-text-smaller brainstorm-threads-container">
  {{#each thread in controller.threadsList}}
    {{thread}}<br>
  {{/each}}
</div>
<div class="task-list-container">
  {{#each item in controller.list}}
    <div class="task-container">
      {{controller.component1.content.content}}
      {{input class="oli-form-field-long"
        placeholder="Write task"
        value=item.text}}
    </div>
  {{/each}}
</div>

<div class="add-task-box" {{action "addTask" this on="click"}}>
Add Task
</div>