{{#view Oli.CalendarView}}
  {{partial "activities/partials/description"}}

  <div class="oli-text rating-section-container">
  {{controller.component1.content.content}}
 {{!--  {{input class="oli-form-field"
    value=controller.input1
    placeholder="Enter text"
  }} --}}
      {{view Ember.Select content=dependentTasksMapped.content id="task-selector" value=selectedTask prompt=prompt }}

  </div>

  <div class="oli-text rating-section-container">
  {{controller.component2.content.content}}
  {{input id="date-picker-field" class="oli-form-field"
    placeholder= "MM/DD/YYYY"
    valueBinding=controller.date}}

  </div>

  <div class="middle-button-container">
    <button {{bind-attr class=":middle-button buttonDisabled:oli-inactive" disabled=buttonDisabled}} {{action "addAction" this on="click"}}>
      <span class="ladda-label"></span>
      Add Action
    {{!-- {{controller.buttonText}} --}}
    </button>
  </div>
  

  <div class="actions-box">
    <ul class="actions-list">
      {{#each item in controller.actionsList.content}}
        {{#view Oli.EventView}}

        <li>
          <div class="add-to-cal">
            <a href="http://example.com/link-to-your-event" title="Add to Calendar" class="addthisevent">
              {{item.date}} 
              <span class="_start">{{unbound item.dateForExt}}</span>
              <span class="_end">{{unbound item.dateForExt}}</span>
              <span class="_zonecode">40</span>
              <span class="_summary">{{item.description}}</span>
              <span class="_description">Description of the event</span>
              <span class="_all_day_event">false</span>
              <span class="_date_format">DD/MM/YYYY</span>
            </a>

          </div>
          - {{item.description}}
        </li>
        {{/view}}
      {{/each}}
    </ul>
  </div>
  <div class="oli-text-smaller">
    Click date to add to calendar
  </div>
{{/view}}