<br><br>

<div class="description">
{{this.description}}
</div>
<br>
<br>

<div clas="row">
{{#view Oli.WordSelectionView}}
<div class="hidden">{{view.selected}}</div>
<div class='select-word-container'>
{{#each view.component.words}}
<!-- Rounded ONE -->
<div class='col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-5 description'>
  <div class="roundedOne">

      {{view Ember.Checkbox checked=this.selected type="checkbox" name=check id=this.id class="roundedOne"}}
      <label  {{bindAttr for="this.id"}} ></label>
    </div><div class="select-word"> {{this.word}}</div>
 </div>

  {{/each }}
  
    {{outlet newWord}}


</div>
{{/view}}
</div>
