{{partial "activities/partials/description"}}
{{partial "activities/partials/thread"}}

<div class="oli-text rating-section-container">

    {{controller.component1.content.content}}
  {{input class="oli-form-field"
  value=controller.input1}}
</div>

<div class="oli-text rating-section-container">

    {{controller.component2.content.content}}
  {{input class="oli-form-field"
  value=controller.input2}}
</div>

<div class="oli-text rating-section-container">

    {{controller.component2.content.content}}
  {{textarea class="oli-box-large"
  value=controller.input2}}
</div>
