{{partial "activities/partials/description"}}
{{partial "activities/partials/thread"}}

<div class="oli-text rating-section-container">

    {{controller.component1.content.content}}
  {{input classBinding=":oli-form-field box1Error:box__input--error"
  value=controller.input1}}
</div>


<div class="oli-text rating-section-container">

    {{controller.component2.content.content}}
  {{textarea
  classBinding=":oli-box-large box2Error:box__input--error"
  value=controller.input2}}
</div>
