  <div class="description-box oli-text">
    {{controller.controllers.activities.description}}
  </div>

  <div class="word-thread">
    {{controller.joinedThread.content}}
  </div>
  <div class="oli-text rating-section-container">

      {{controller.component1.content.content}}
    {{input class="oli-box"
    value=controller.threadEntry}}

      {{controller.component2.content.content}}
    {{textarea class="oli-box"
    value=controller.threadEntry}}