
 {{partial "activities/partials/description"}}
 {{partial "activities/partials/thread"}}

  <div class="oli-text rating-section-container">
    {{controller.component1.content.content}}
    <div class="radio-button-container">
      {{#each index in controller.buttons}}
        <div class="radio-rating">
          {{view Oli.RatingButton name="thread_rating_1" selectionBinding="isSelected.content" value=index}}

          <div class="rating-label">
            <label for="thread_rating_1">{{index}}</label>
          </div>
        </div>
      {{/each}}
   </div>
  </div>

  <div class="oli-text rating-section-container">
    {{controller.component2.content.content}}
    <div class="radio-button-container">
      {{#each index in controller.buttons}}
        <div class="radio-rating">
          {{view Oli.RatingButton name="thread_rating_2" selectionBinding="isSelected2.content" value=index}}

          <div class="rating-label">
            <label for="thread_rating_2">{{index}}</label>
          </div>
        </div>
      {{/each}}
    </div>
  </div>