
<div class="oli-bold oli-container">
  Free Video Content
</div>
{{#each video in videosFormatted.content}}
  
  <div {{action goToVideo video}} class="free-video video-container-free-videos oli-text-smaller">
   
    <div class="thumb-free-videos">
      <div class="play-free-videos">
        <div class="circle-free-videos">        
          <div class="arrow-free-videos"></div>
        </div>
      </div>

      {{video-player 
      width=video.width
       height=video.height
        source=video.source
        controls=false}}

    </div>

    <a href="#" {{action "buttonClicked" this on="click"}}>{{video.title}}</a>

    <div class="description-free-videos">
      {{video.description}}
    </div>
  </div>
{{/each}}

  <button class="ladda-button  smaller-button" data-style="zoom-out" {{action "buttonClicked" this on="click"}}>
    <span class="ladda-label">Buy Course</span>  </button>


