<div class="course-wrapper">
  {{outlet levels}}
  {{#view Oli.ActivityView}}

    {{outlet activityTitle}}
    {{outlet bar}}
    <div class="activity-contents">
      {{!-- {{animated-outlet name="main"}} --}}
      {{outlet}}
    </div>

    {{partial 'buttons'}}
    {{partial 'activities/status_modal'}}

  {{/view}}
</div>