{{outlet nav}}
<div class="outer-wrapper">
  {{outlet tip}}
  <div class="base-wrapper">
    {{outlet me}}
    <div class="course-wrapper">
      {{outlet freeVideo}}
      {{outlet levels}}
      {{outlet bar}}
      {{outlet activity}}
    </div>
  </div>
</div> 