{{#view Oli.FreeVideoView}}
  <div class="course-wrapper">
    <div id="fb-root"></div>
    <div class="free-video__container">
      {{partial 'activityTitle'}}
      {{partial 'bar'}}
        
      {{#view Oli.VideoView autoplay=true preload=true}}

        {{video-player width=controller.width 
        height=controller.height
        source=controller.source.content
        controls=true}}

        <div class="transcript">
          {{{controller.transcript.content.content}}}
        </div>

      {{/view}}
    </div>

    {{partial 'button'}}

    <div id="fb-comments" class="fb-free-video">
      <div  class="fb-comments" data-href="http://getoli.com" data-numposts="5" data-colorscheme="light">
      </div>
    </div>
  </div>

{{/view}}