{{outlet meCollapse}}

<div class="container-account">
  {{partial 'me/accountBar'}}
  <div class="content-container-account">
    {{partial 'bar'}}
    {{outlet}}

    <div class="big-modal">
      {{modal-view
        idVal="myModal" 
        title="Congratulations!"
        text='<iframe src="//player.vimeo.com/video/104882734" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>'
        modalCallback=purchaseTransition
      }}
    </div>
    <div class="big-modal">

    {{modal-view
      idVal="firstTimeModal" 
      title="Welcome!"
      text='<iframe class="iframe-me" id="video-iframe" src="//player.vimeo.com/video/104882734" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>'
      modalCallback=closeModal
    }}
  </div>
  </div>
</div>

