<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#">
<head>
<!-- <link href="http://vjs.zencdn.net/4.6/video-js.css" rel="stylesheet"> -->
<!-- <link href="/assets/video-js.css" rel="stylesheet">
 -->
  <title>Get OLI!</title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
<script type="text/javascript">
  document.createElement('video');document.createElement('audio');document.createElement('track');
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-39809535-2', 'http://getoli.com');
  ga('require', 'displayfeatures');
  ga('send', 'pageview');

 
 
</script>
    <script type="text/javascript">
        var _mfq = _mfq || [];
        (function () {
        var mf = document.createElement("script"); mf.type = "text/javascript"; mf.async = true;
        mf.src = "//cdn.mouseflow.com/projects/775bb247-5e58-45c5-ad38-01549b642174.js";
        document.getElementsByTagName("head")[0].appendChild(mf);
      })();
    </script>
<meta property="fb:app_id"          content="1452435865004111
" /> 
<meta property="og:type"            content="fitness.course" /> 
<meta property="og:url"             content="http://getoli.com" /> 
<meta property="og:title"           content="Chocolate Pecan Pie" /> 
<meta property="og:image"           content="https://fbcdn-dragon-a.akamaihd.net/hphotos-ak-xpa1/t39.2178-6/851565_496755187057665_544240989_n.jpg" /> 
<meta property="cookbook:author"    content="http://samples.ogp.me/390580850990722" />

  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
 <script type="text/javascript">
addthisevent.settings({
  mouse   : false,
  css     : false,
  outlook   : {show:true, text:"Outlook Calendar"},
  google    : {show:true, text:"Google Calendar"},
  yahoo   : {show:true, text:"Yahoo Calendar"},
  ical    : {show:true, text:"iCal Calendar"},
  hotmail   : {show:true, text:"Hotmail Calendar"},
  facebook  : {show:true, text:"Facebook Calendar"}
});
</script>
  



  
</head>
<body>
  <script>
var error, fbAppId, obj;

fbAppId = 1452435865004111;

obj = "http://getoli.com";

window.fbAsyncInit = function() {
  FB.init({
    appId: fbAppId,
    status: true,
    cookie: true,
    xfbml: true,
    version: "v2.0"
  });
};

(function(d, s, id) {
  var fjs, js;
  js = void 0;
  fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) {
    return;
  }
  js = d.createElement(s);
  js.id = id;
  js.src = "http://connect.facebook.net/en_US/sdk.js#xfbml=1&appId=1452435865004111&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
})(document, "script", "facebook-jssdk");



</script>

  <p class="notice-oli"><%= notice %></p>
  <p class="alert-oli"><%= alert %></p>
<%= yield %>
</body>

</html>
